azure-identity>=1.25.2
msal>=1.31.0
requests>=2.33.0
python-dotenv>=1.2.2
aiohttp>=3.13.5
a2a-sdk>=0.2.0
httpx>=0.28.1
agent-framework-core>=1.0.0rc3
agent-framework-azure-ai>=1.0.0rc3
ipykernel>=6.29.0
